
#scroll-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  color: white;
  background-color: $footer-logo-color;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $background;
    margin-bottom: 6px;

  }
}

