
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  font-family: 'Rubik';
}

a {
  text-decoration: none;
}

h5 {
  font-family: 'Heebo';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-bottom: 15px;
  font-family: 'Heebo';
  font-weight: 700;
}