
$white: #fff;
$background: rgb(0, 89, 99);
$black-text-btn: #1a1a1a;
$footer-color-text: rgb(104, 106, 111);
$footer-logo-color: #00acb1;
$footer-h6: #005963;
$h5-hover: #016f7a;
$text-color-section: #686A6FFF;
$border-line: rgba(26, 26, 26, 0.16);
